<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Me
                <small>It's Nice to Meet You!</small>
            </h1>
        </div>
        
    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="Images/profilepic.jpg">
        </div>
        <div class="col-md-6">
            <h2>Profile</h2>        
            <b> Name</b>                         
            <p> Merve Sari</p>               
            <b> Address</b>                    
            <p> Address </p>                 
            <p> Place </p>                               
            <p> Country</p>             
            <b> Phone</b>               
            <p> Phonenumber</p>         
            <b> E-mail</b>
            <p> xmervee94@gmail.com</p>

        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Education</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://c1.staticflickr.com/7/6159/6159528766_abced62e54_b.jpg">

            <h3>OBS IJplein
                <small>1998 - 2006</small>
            </h3>
            <p> <b>E</b>lementary <b>S</b>chool</p>
            <p>Gedempte Insteekhaven 85</p>
            <p>1021 Amsterdam</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="Images/bredero_lyceum.jpg">

            <h3>Bredero Lyceum
                <small>2006 - 2013</small>
            </h3>
            <p><b>V</b>oorbereidend <b>W</b>etenschappelijk <b>O</b>nderwijs</p>
            <p>Buiksloterweg 85</p>
            <p>1031 CG Amsterdam</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://www.protech-ede.nl/ImageGen.ashx?image=/media/1419/vrije-universiteit-aanzicht.jpg&width=756">

            <h3>Vrije Universiteit
                <small>2015 - </small>
            </h3>
            <p><b>L</b>ifestyle <b>I</b>nformatics</p>
            <p>De Boelelaan 1105</p>
            <p>1081 HV Amsterdam</p>
            
        </div>


    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Hobbies</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="https://s.yimg.com/ny/api/res/1.2/AIDFZERAateqwASawNc62A--/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NTAwO2lsPXBsYW5l/http://l.yimg.com/cd/resizer/2.0/FIT_TO_WIDTH-w500/bd398f4aaaa036d5e90cfe6bbb4c529e124ebec1.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="Images/swimming.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="Images/origami.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="Images/draw.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="Images/pc.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="Images/movies.jpg">
        </div>

    </div>

</div>
<!-- /.container -->

<footer>
    <div class="section-colored">
        <div class="container"
        <p>Merve Sari © 2016 All rights reserved.</p>
        </div>
    </div>
</footer>

