<div class="section-colored text-center">
</div>
<!-- /.section-colored -->

<br>

<div class="home">
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Welcome to the Curriculum Vitae of Merve Sari</h2>
                <hr>
                <small><i>A beginner at programming with a great curiosity to learn coding</i></small>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

</div>

