<div class="home">
<div class="section-colored text-center">
</div>
<!-- /.section-colored -->
<br>

<div class="section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Welcome to the Curriculum Vitae of Merve Sari</h2>
                <hr>
                <h4><i>A novice programmer with a great curiosity to learn coding</i></h4>
            </div>
        </div>
        
        <br>

</div>
<!-- /.section -->

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="social">
          <ul>
              <li><a href="http://twitter.com/">Twitter <i class="fa fa-twitter"></i></a></li>
              <li><a href="http://facebook.com/">Facebook <i class="fa fa-facebook"></i></a></li>
              <li><a href="http://dribbble.com">Dribbble <i class="fa fa-dribbble"></i></a></li>
              <li><a href="http://behance.net">Behance<i class="fa fa-behance"></i></a></li>
              
          </ul>
<p></p>
<p></p>
<p></p>
</div>

